{% extends "base.html" %}

{% block meta %}
{{ super() }}

{% if page.translations -%}
<link rel="alternate" href="{{ SITEURL }}/{{ page.url }}" hreflang="{{ page.lang }}" />
{% for p in page.translations %}
<link rel="alternate" href="{{ SITEURL }}/{{ p.url }}" hreflang="{{ p.lang }}" />
{% endfor %}
{% endif %}
{% endblock %}

{% block content %}
<article class="single">
  <header>
    {% import 'partial/translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    <h1 id="{{ page.slug }}">{{ page.title }}</h1>
  </header>
  <div>
    {% block before_content %}{% endblock %}
{% block page_content %}
        {{ page.content }}
        {% if GITHUB_USER %}
            <h2>GitHub Projects</h2>
            <ul>
            {% for project in github_projects %}
                <li>
                    <h3><a href="{{ project.upstream_url or project.html_url }}">{{ project.name }}</a><sup>({{ project.language }})</sup></h3>
                    {% if project.description %}<p>{{ project.description }}</p>{% endif %}
                    {% if project.upstream_url %}<p>Fork of <a href="{{ project.upstream_url }}">{{ project.upstream_url | replace('https://github.com/', '') }}</a></p>{% endif %}
                    <p>Updated: {{ project.updated_at | strftime('%Y-%m-%d') }} | Stars: {{ project.stars }} | Forks: {{ project.forks }}</p>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}
    {% block after_content %}{% endblock %}
  </div>
</article>
{% endblock %}
